.resultsCard {
    background-color: transparent !important;
    margin: 3% auto !important;
    border: 0 !important;
}

.cigaretteImage {
    width: 300px;
    height: 200px;
}
.resultsMainCard{
    background-color: transparent !important;
    border: 5px !important;
    margin-right: 1%;
}